---
layout: page
permalink: /evenements/
---
<div class="evenements">
  <h1 class="text-center">Les évenements</h1>
  <div class="row">
    <div class="col-sm-6">
      <h2>Wild Events</h2>
      <p>L'école organise régulièrement des évènements : meetup, hackathons, portes ouvertes, journées thématiques....<br>Suivez notre actualité en vous inscrivant pour recevoir notre newsletter, suivez nous sur les réseaux sociaux.</p>
    </div>
    <div class="col-sm-6">
      <img src="/img/evenements/evenements.png" class="img-responsive center-block">
    </div>
  </div>
  <h2>À venir</h2>
    <div class="row">
      {% for evenement in site.data.evenements %}
        {% if evenement.encours == true %}

          <div class="col-sm-6">
            <h2 class="text-center">{{ evenement.titre }}</h2>
            <a target="_blank" href="{{ evenement.URL }}"><img src="/img/evenements/{{ evenement.photo }}.png" class="img-responsive center-block"></a>
            <p class="text-center">{{ evenement.date }} / {{ evenement.heure }} / {{ evenement.lieu }}</p>

            <p>{{ evenement.date-de-fin }}</p>
            <p class="text-center"><span class="label label-default">{{ evenement.acces }}</span></p>
            <p>{{ evenement.description }}</p>
            <p class="text-center"><a target="_blank" href="{{ evenement.URL }}" class="btn btn-info" role="button">{{ evenement.bouton }}</a></p>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  <h2>Passés</h2>

  <div class="row">
    {% for evenement in site.data.evenements %}
      {% if evenement.encours == false %}

        <div class="col-sm-4">
          <h2 class="text-center">{{ evenement.titre }}</h2>
          <a target="_blank" href="{{ evenement.URL }}">
          <img src="/img/evenements/{{ evenement.photo }}.png" class="img-responsive center-block">
          </a>
          <p class="text-center">{{ evenement.date }} / {{ evenement.heure }} / {{ evenement.lieu }}</p>
          <p>{{ evenement.date-de-fin }}</p>
          <p class="text-center"><span class="label label-default">{{ evenement.acces }}</span></p>
          <p>{{ evenement.description }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>