<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="col-sm-3 text-center">
        <p class="footerlogosheandy">wcs</p>
        <form class="newsletter-footer">
          <div class="input-group input-group-mg">
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Inscription Newsletter">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-vert center-block"><span class="glyphicon glyphicon-ok"></span></button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-3 text-center">
        <address>
          <strong>Wild Code School</strong><br>
          18 rue de La Gare<br>
          28240 La Loupe<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline text-center">  
          <li><a target="_blank" href="https://www.facebook.com/wildcodeschool"><img src="/img/socials/facebook-64.png"></a></li>
          <li><a target="_blank" href="https://twitter.com/WildCodeSchool"><img src="/img/socials/twitter-64.png"></a></li>
          <li><a target="_blank" href="http://www.scoop.it/t/wcs"><img src="/img/socials/scoopit-64.png"></a></li>
          <li><a target="_blank" href="#"><img src="/img/socials/mail-64.png"></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw/"><img src="/img/socials/youtube-64.png"></a></li>
        </ul>
        <p class="text-muted text-center">Copyright © <a href="">Innoveduc</a></p>
      </div>
    </div>
  </footer>
