<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="col-sm-3 text-center">
        <p class="footerlogosheandy">wcs</p>
        <div class="display-md display-lg display-sm hidden-xs">
          <p class="text-muted text-center">Copyright © <a href="">Innoveduc</a></p>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <address>
          <strong>Wild Code School</strong><br>
          18 rue de La Gare<br>
          28240 La Loupe<br>
          <a href="mailto:contact@wildcodeschool.fr">contact@wildcodeschool.fr</a>
        </address>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline text-center">  
          <li><a target="_blank" href="https://www.facebook.com/wildcodeschool"><img src="/img/socials/facebook-64.png"></a></li>
          <li><a target="_blank" href="https://twitter.com/WildCodeSchool"><img src="/img/socials/twitter-64.png"></a></li>
          <li><a target="_blank" href="http://www.scoop.it/t/wcs"><img src="/img/socials/scoopit-64.png"></a></li>
          <li><a target="_blank" href="https://github.com/WildCodeSchool/"><img src="/img/socials/github-64.png"></a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw/"><img src="/img/socials/youtube-64.png"></a></li>
          <br>
          <li>

        <div class="newsletter-footer">


          <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <div id="mc_embed_signup center-block">
            <form action="//wildcodeschool.us9.list-manage.com/subscribe/post?u=96febc44633f56b33d2d61134&amp;id=bf97c37c40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">


              <input type="email" value="" name="EMAIL" class="email email-news" id="mce-EMAIL" placeholder="Inscription à notre Newsletter" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_96febc44633f56b33d2d61134_bf97c37c40" tabindex="-1" value=""></div>


            
              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info center-block valider-news"><span class="glyphicon glyphicon-send"></span></button>
            


              </div>
            </form>
            </div>

            <!--End mc_embed_signup-->

      </div>



            <!--<form class="newsletter-footer center-block">
              <div class="input-group input-group-mg">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Inscription à notre Newsletter">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-vert center-block"><span class="glyphicon glyphicon-ok"></span></button>
                </span>
              </div>
            </form> -->

          </li>
        </ul>
        
        <div class="display-xs hidden-sm hidden-md hidden-lg">
          <p class="text-muted text-center">Copyright © <a href="">Innoveduc</a></p>
        </div>
      </div>
    </div>
  </footer>
