<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="col-sm-3 hidden-xs text-center">
        <p class="footerlogosheandy">wcs</p>
      </div>
      <div class="col-sm-3 text-center">
        <address>
          <strong>Wild Code School</strong><br>
          18 rue de La Gare<br>
          28240 La Loupe<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline text-center">  
          <li><a target="_blank" href="http://www.facebook.com"><img src="/img/socials/facebook-64.png"></a></li>
          <li><a target="_blank" href="http://www.twitter.com"><img src="/img/socials/twitter-64.png"></a></li>
          <li><a target="_blank" href="http://www.google.fr/maps"><img src="/img/socials/scoopit-64.png"></a></li>
          <li><a target="_blank" href="http://www.gmail.com"><img src="/img/socials/mail-64.png"></a></li>
          <li><a target="_blank" href="http://www.youtube.com"><img src="/img/socials/youtube-64.png"></a></li>
        </ul>
        <p class="text-muted text-center">Copyright (c) <a href="">Innoveduc</a></p>
      </div>
    </div>
  </footer>
