body{
    font-family: "Vera";
    background-color: #F8F8F8;
}

/*
navbar
*/

nav{
    .je-postule-btn{
        background-color: #000;
        font-weight:bold;
    }
    .navbar-brand{
        font-family: "CEL";
    }
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    &:hover{
        color: #D1D1D1;
    }
}

.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 0px;
}

.navbar-default .navbar-brand{
    color: #FFF;
}

.navbar-default li a.dropdown-toggle {
    color: #FFF;
    &:hover{
        color: #D1D1D1;
    }
}

.navbar-nav > li > .dropdown-menu {
    background-image: url(../img/poly/polyvertclair.png);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
    &:hover{
        color: #FFF;
        background-color: #777;
    }
}

.navbar-default{
    background-image: url(../img/poly/polyvertclair.png);
}

h1, h2, h3, h4, h5{
    font-family: "CEL";
}

p, li{
    font-family:"Vera";
}



/**
 * Basic styling
 */
body {
    // font-family: $base-font-family;
    // font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-top: 50px; /* Décalle la navbar du contenu */
}


/* footer */
.footer {
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    background-color: #f5f5f5;
    background-image: url(../img/poly/polybleu.png);
    ul li{
        margin: 10px -5px 0px 10px;
    }
    img{
        width: 45px;
    }
    .footerlogosheandy{
        font-family: "sheandy";
        font-size:90px;
        margin-top: -58px;
        color: #FFF;
    }
    address{
        color: #FFF;
        margin-top: 7px;
        font-family: "Vera";
    }
    .text-muted {
        font-family: "Vera";
        color: #FFF;
        font-size: 1em;
    }
    a{
        font-family: "Vera";
        color: #FFF;
    }
    .newsletter-footer{ margin-top: -30px; }
}


/* Carousel */
#myCarousel{
    .carousel-indicators {
        bottom: -5px;
    }
    .carousel-caption {
        bottom: 5px;
    }
    .carousel-control {
        padding-top: 11%;
        font-size: 60px;
    }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}


/* Trois  chiffres clés */

.trois{
    background-image: url(../img/poly/polybleu.png);
    .sheandytroischiffres p{
        padding-top: 10px;
        font-family: "sheandy";
        font-size: 70px;
        color: #FFF;
    }
    .troischiffres p{
        font-size: 20px;
        margin-top: -20px;
        padding-bottom: 10px;
        color:#FFF;
    }
}



.lead{
    font-family: "Vera";
    font-size: 17px;
    text-align: justify;
}

.page-header {
    border-bottom: 0px;
    border-bottom: 0px solid #EEE;
}
blockquote {
    padding: 1px 20px;
    border-left: 5px solid #777;
  h1, h2, h3{
    margin-top: 10px;
    margin-bottom: 10px;  
  }
}

blockquote h2, h3{
    font-weight: bold;
}

.evenements-a-venir{
    background: url(../img/event.png);
    background-repeat: repeat-x;
    background-position: center center;
    color: black;
    padding-top: 20px;
    padding-bottom: 80px;
    width: 100%;
    margin-right:0%;
    margin-left:0%;
}

video{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 23px 2px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 23px 2px rgba(184,184,184,1);
    box-shadow: 0px 0px 23px 2px rgba(184,184,184,1);
}

.disent-de-nous{}

.ilsparlentdenous img{
    width: 85px;
    margin: 5px 5px 5px 5px;
}
.post{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Page Pratique/Lieu */

.lieu {
    p {
        margin-bottom: 0px;
        padding: 5px 0px 5px 0px;
    }
    h2 {
        margin-top: 10px;
    }
    .locaux {
        padding: 5px 0px 5px 0px;
    }
    .hebergement {
        padding: 5px 0px 5px 0px;
    }

}

.faq {
    h1 {
        text-align: center;
    }
}

.kitpresse {
    h1 {
        text-align: center;
    }
}

.partenaire {
    h1 {
        text-align: center;
    }
}

.promo2014 {
  
}

.pilotage {
    h3 {
        text-align: center;
    }

    p {
        font-style: italic; 
    }
}

.concept{
    .concept-bandeau{
    background-image: url(../img/poly/polyocre.png);
    padding-top:30px;
    padding-bottom:30px;
    }
    .bloc-4-pictos{
        margin-top: 20px;
        img h3{
            display: inline;
        }
        h3{
            display: inline;
            margin-left: 20px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: justify;
        }
    }
}
.projets-des-eleves{
    .projets{
        border:1px solid #EDEDED;
        margin-bottom: 10px; 
    }
}
.debouches{
    p{
        padding-top: 25px;
    }
    .bandeau-debouches{
    background-image: url(../img/poly/polygris.png);
    padding-top:30px;
    padding-bottom:30px;
    }
}
.qui-sommes-nous{
    .portrait{
        padding-top: 30px;
    }
}