---
layout: default
---
<div class="post">
  <div class="container">  
    <header class="post-header">
      <h1 class="post-title text-center">{{ page.title }}</h1>
      <p class="post-meta text-center">{{ page.date | date: "%A %-d %B %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
  </div>
  
  <div class="container">

      {{ content }}

  </div>
  <br>
  <div class="container">

    <div class="pull-left"> 
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">
        <button type="button" class="btn btn-vert btn-sm">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> {{page.previous.title}} 
        </button>
        </a>
      {% endif %} 
    </div>
    <div class="pull-right"> 
      {% if page.next.url %}
        <a href="{{page.next.url}}">
        <button type="button" class="btn btn-vert btn-sm">
          {{page.next.title}} <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
        </a>
      {% endif %} 
    </div>
  </div>
  <br>
  <div class="text-center"> 
      <a href="/blog.html">
      <button type="button" class="btn btn-vert btn-sm">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Retour à la liste de tous les articles
      </button>
      </a>
  </div>


</div>

